@import 'tailwindcss';

@config '../tailwind.config.mjs';
@plugin "daisyui" {
  themes:
    corporate --default,
    dark --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}
@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;
  --color-primary: #5a5db6;
  --color-secondary: #234e70;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .btn {
    margin: 0.5rem;
  }
}

@layer components {
  .pageHeadline {
    text-align: center;
    padding: 1.5rem;
    background-color: #6b728e;
    color: white;
    margin-bottom: 2rem;
    --tw-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
